* text=auto
.gitattributes text eol=lf

*.cs text eol=lf
*.csproj text eol=lf
*.props text eol=lf
*.slnx text eol=lf
*.proto text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.tpl text eol=lf
*.tf text eol=lf
*.sql text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.razor text eol=lf
*.css text eol=lf
Dockerfile text eol=lf
LICENSE text eol=lf

*.png binary
*.pdf binary
